<launch>
	<param name="robot_description" textfile="$(find seto_scararobot2_description)/urdf/seto_scararobot2.urdf" />	

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find seto_scararobot2_description)/launch/seto_scararobot2.rviz" />

	<!-- move_testノードを起動 クルクル回るjointstateを吐き出す  -->
	<node name="move_test2" pkg="seto_scararobot2" type="move_test2" />
</launch>
