<?xml version="1.0"?>
<launch>

    <!-- Load the seto_scararobot URDF model into the parameter server -->
    <param name="robot_description" textfile="$(find seto_scararobot2_description)/urdf/seto_scararobot.urdf" />

    <!-- dynamixel controllers -->
	<include file="$(find seto_scararobot2_dynamixel)/launch/dynamixel_controllers.launch" />
    
    <!-- robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="joint_states" to="/dynamixel_workbench/joint_states"/>
    </node>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find seto_scararobot2_description)/launch/seto_scararobot2.rviz" />
</launch>
